
body {
	/*background-color:#BF4D28;*/
	background-color:#F6F7BD;
}

h1 {
    font-size:1em;
}

/* Contenitore pagina */
.pagecontainer {
   max-width:98%;

   margin:auto;
   background-color:#F6F7BD;
	background-image: url("7915.png") ;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position: 2% 35%;
	background-size: 100px;
	min-height: 700px; 
}

/* Area nuova registrazione */
.newrec {
	width: 50%;
	margin:auto;
	margin-top:10px;
	padding-top:10px;
	text-align: center;	
	border:0px solid black;
}

/* Area registrazioni passate */
.resultcontainer {
	width:80%;
	margin:auto;
}

/* campo titolo */
.fieldtitle {
	margin-top:30px;
   float:left;
}

p {
	margin:0px; padding:0px;
}

/* GESTIONE DEI MESSAGGI */
.info { 
    border:0px solid black;
    max-width:70%;
    margin:auto;
    font-size: 0.9em;
    font-weight: bolder;
    padding:10px;
}

#footer {
	text-align: center;
	width:70%;
	margin:auto;
	margin-top:10px;
	font-size:0.7em;
}

/* BUTTON STYLE */
input[type=text] {
	border:1px solid black;
	width:150px;
	font-size:0.8em;	
}

input[type=submit] {
    margin:10px;
    font-weight:bold;
    border: 1px solid black;
    min-width:20%;
    border:1px solid black;
    color: white; font-size: 1em;
    background-color: #E6AC27;
}

input:disabled { 
    background-color:white; 
    color: #E6AC27;
    text-decoration: line-through;
    color: black;
}

.recdisabled {
    background-color:#F2D694;
}
.startbutton {
    min-height:80px;
}
/* END BUTTON STYLE */

table {
	margin-top:10px;
	padding-bottom:20px;
}

table td {
	border-bottom:1px dashed black;
	line-height:2em;
	top:40%;
	font-size: 0.8em;
	text-align:center;
}

/* GESTIONE MESSAGGI */
.message { 
    background-color:#D0E799;
}

.error { 
    background-color:#F2D694;
}

a{
	text-decoration: none;
	color:black;	
}



